---

---

<div class="container">
    <div class="card">
        
       <div class="titulo">
           <h1>SUMINISTRO DE MATERIAL PORNOGRÁFICO A MENORES DE EDAD POR MEDIOS INFORMÁTICOS</h1>
       </div>

       <div class="txt">
        <br>
           <p class="parrafo">Es facilitar el acceso a espectáculos pornográficos o suministrar material pornográfico a menores <b>de catorce (14) años.</b><br>
            La ley 26388 prevé una pena de prisión de un (1) mes a tres (3) años a quien lo facilite. 
            En caso de que el suministro fuera a un menor mayor de dicha edad dicha acción será 
            considerada una contravención que tendrá una sanción más grave si el menor tiene <b>entre 14 y
            16 y más leve si tiene entre 16 y 18 años.</b><br>
            Se entiende por material pornográfico fotos, imágenes, videos de 
            contenido sexual explícito, actos sexuales o imágenes de desnudez.
            </p>
           <div class="containerbtn">
                <div class="button">
                    <h3>VER MÁS</h3>
                </div>
            </div>
        </div>

       

    </div>
</div>



<style>

    .containerbtn {
        padding-top: 40px;
    }
    
    .parrafo {
        margin-inline: 40px;
        text-align: justify;
        text-justify: inter-word;
        
    }

    .titulo {
        align-items: center;
        display: flexbox;
        background-image: url(assets/bg01.jpg);
        width: 100%;
        height: 100%;
        padding-top: 100px;
        position: absolute;
        z-index: -1;
        font-size: 10pt;
        
    }

    .txt {
        align-items: center;
        display: flexbox;
        background-image: url(assets/bg02.jpg);
        width: 100%;
        height: 100%;
        margin-top: 280px;
        border-top-left-radius: 60px;
        border-top-right-radius: 60px;
        position: absolute;
        z-index: 1;
        line-height: 1.5;

    }

    .card {
        
        width: auto;
        height: auto;
        display: flex;
        border-radius: 0px, 0px, 0px, 0px;
        box-shadow: 0px 0px 0px rgb(92, 92, 92);
        border-color: black;
        flex-wrap: wrap;
        color: white;
    }

    .button {
           background-color:#006272;
           width: 300px;
           height: 50px;
           color: white;
           display: inline-block;
           margin: auto;
           margin-bottom: 40px;
           padding-bottom: 10px;
           border-radius: 30px;
           box-shadow: 0px 5px 10px rgb(165, 165, 165);
           transition: transform .2s, background-color 0.5s ease;
      
   
       }

       .button:hover {
        background-color:#0b7080;
        transform: scale(1.05);
       }
        
</style>