---

---

<div class="container">
    <div class="card">
        
       <div class="titulo">
           <h1>DIFUSIÓN NO CONSENTIDA DE IMÁGENES ÍNTIMAS</h1>
       </div>

       <div class="txt">
        <br>
           <p class="parrafo">Es la difusión no consentida de imágenes o videos 
            íntimos en redes sociales, servicios de mensajería instantánea o 
            cualquier tipo de medio social donde se comparte información.
            La Ciudad Autónoma de Buenos Aires tiene tipificada como contravención 
            la “difusión no autorizada de imágenes o grabaciones íntimas”.<br>
            En su art. 71 bis, el Código Contravencional de la Ciudad establece que 
            será punible de sanción: “quien difunda, publique, distribuya, facilite,
            ceda y/o entregue a terceros imágenes, grabaciones y/o filmaciones de 
            carácter íntimo sin el consentimiento de la persona y a través de cualquier 
            tipo de comunicación electrónica, de transmisión de datos, páginas web y/o a 
            través de cualquier otro medio de comunicación”, El consentimiento de la 
            víctima para la difusión, siendo menor de 18 años, no será considerado válido. 
            Tampoco podrá alegarse el consentimiento de la víctima en la generación del 
            contenido como defensa a la realización de la presente conducta.
            </p>
           <div class="containerbtn">
                <div class="button">
                    <h3>VER MÁS</h3>
                </div>
            </div>
        </div>

       

    </div>
</div>



<style>

    .containerbtn {
        padding-top: 40px;
    }
    
    .parrafo {
        margin-inline: 40px;
        text-align: justify;
        text-justify: inter-word;
        
    }

    .titulo {
        align-items: center;
        display: flexbox;
        background-image: url(assets/bg01.jpg);
        width: 100%;
        height: 100%;
        padding-top: 100px;
        position: absolute;
        z-index: -1;
        font-size: 10pt;
        
    }

    .txt {
        align-items: center;
        display: flexbox;
        background-image: url(assets/bg02.jpg);
        width: 100%;
        height: 100%;
        margin-top: 220px;
        border-top-left-radius: 60px;
        border-top-right-radius: 60px;
        position: absolute;
        z-index: 1;
        line-height: 1.5;

    }

    .card {
        
        width: auto;
        height: auto;
        display: flex;
        border-radius: 0px, 0px, 0px, 0px;
        box-shadow: 0px 0px 0px rgb(92, 92, 92);
        border-color: black;
        flex-wrap: wrap;
        color: white;
    }

    .button {
           background-color:#006272;
           width: 300px;
           height: 50px;
           color: white;
           display: inline-block;
           margin: auto;
           margin-bottom: 40px;
           padding-bottom: 10px;
           border-radius: 30px;
           box-shadow: 0px 5px 10px rgb(165, 165, 165);
           transition: transform .2s, background-color 0.5s ease;
      
   
       }

       .button:hover {
        background-color:#0b7080;
        transform: scale(1.05);
       }
        
</style>