---

---

<div class="container">
    <div class="card">
        
       <div class="titulo">
           <h1>CYBERBULLYING</h1>
       </div>

       <div class="txt">
        <br>
           <p class="parrafo">Es el acoso con el <b>uso de tecnologías digitales.</b>
            Puede tener lugar en las redes sociales, plataformas de mensajería, 
            plataformas de juegos y teléfonos móviles.
            Es un comportamiento repetido, destinado a asustar, enojar o 
            avergonzar a las personas a las que se dirige. El acoso cibernético 
            deja una huella digital, un registro que puede resultar útil 
            y brindar evidencia para ayudar a identificar al abusador 
            y detener el abuso.
            </p>
           
            <div class="containerbtn">
                <div class="button">
                    <h3>VER MÁS</h3>
                </div>
            </div>
        </div>

       

    </div>
</div>



<style>

    .containerbtn {
        padding-top: 40px;
    }

    .parrafo {
        margin-inline: 40px;
        text-align: justify;
        text-justify: inter-word;
    }

    .titulo {
        align-items: center;
        display: flexbox;
        background-image: url(assets/bg01.jpg);
        width: 100%;
        height: 100%;
        padding-top: 130px;
        position: absolute;
        z-index: -1;
        font-size: 10pt;
        
    }

    .txt {
        align-items: center;
        display: flexbox;
        background-image: url(assets/bg02.jpg);
        width: 100%;
        height: 100%;
        margin-top: 250px;
        border-top-left-radius: 60px;
        border-top-right-radius: 60px;
        position: absolute;
        z-index: 1;
        line-height: 1.5;
        box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.267);
    }

    .card {
        
        width: auto;
        height: auto;
        display: flex;
        border-radius: 0px, 0px, 0px, 0px;
        box-shadow: 0px 0px 0px rgb(92, 92, 92);
        border-color: black;
        flex-wrap: wrap;
        color: white;
    }

    .button {
           background-color:#006272;
           width: 300px;
           height: 50px;
           color: white;
           display: inline-block;
           margin: auto;
           margin-bottom: 40px;
           padding-bottom: 10px;
           border-radius: 30px;
           box-shadow: 0px 5px 10px rgb(165, 165, 165);
           transition: transform .2s, background-color 0.5s ease;
      
   
       }

       .button:hover {
        background-color:#0b7080;
        transform: scale(1.05);
       }
        
</style>