<section>
    <div class="logo">
        
    </div>
</section>

<style>
    section{
        height: 10vh;
        background-color: black;
    }

    .logo {
        position: relative;
        top: -450px;
        text-align: center;
    }

    .logo img {
        width: 600px;
    }

</style>